/**
 * Debugger styling
 */
.sr-debug-form-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	border: 2px solid lime;
	color: lime;
	font-family: monospace;
	& > label {
		padding: 10px;
		display: block;

		&:has(:checked) {
			&::after {
				content: ' ✕';

			}
		}

		[type="checkbox"] {
			position: absolute;
			opacity: 0;
		}
	}
}
.sr-debug-form {
	display: none;
	inset: 0 auto 0 0;
	padding: 1%;
	overflow-x: auto;
	z-index: 9999;

	& > * {
		display: block;
		padding: 10px;
	}

	label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;

		&:has([type="checkbox"]) {
			justify-content: flex-start;
		}
	}

	select {
		appearance: none;
		background-color: black;
		border: 2px solid lime;
		color: lime;
		border-radius: 0;
	}

	[type="checkbox"] {
		appearance: none;
		-webkit-appearance: none;
		width: 16px;
		height: 16px;
		border: 2px solid lime;
		background-color: black;
		position: relative;
		margin-right: 8px;
		cursor: pointer;
	}

	[type="checkbox"]:checked {
		background-color: red;
	}

	[type="checkbox"]:checked::after {
		content: '✓';
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 12px;
	}

	[type="number"] {
		width: 80px;
		padding: 5px;
		border: 2px solid lime;;
		background-color: transparent;
		font-weight: bold;
		font-size: 16px;
		color: red;
	}

	[type="submit"] {
		background-color: lime;
		border: 0;
		color: black;
		font-size: 18px;
		font-weight: bold;
		width: 100%;
	}

	.sr-debug-form-wrap:has([name="toggle"]:checked) & {
		display: block;
	}
}
