/**
 * Styles for the game's message overlay.
 */

.sr-message {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	inset: 0;
	z-index: 10;
	padding-bottom: 3cqmax;
	background-color: rgba(0, 0, 0, 0.5);

	&:not(.is-active) {
		display: none;
	}

	/* These are kind of a pseudo header */
	strong:only-child {
		font-size: 3cqmax;
		text-align: center;
		display: block;
	}
}
.sr-message-quote {
	display: flex;
	flex-direction: column;
	width: 50%;
	max-height: 82%;
	border: 3px solid var(--sr-c-navy);
	background-color: var(--sr-c-creme);
}
.sr-message-scroller {
	overflow-y: auto;
	max-height: 100%;
	padding: 3cqmax;
	mask-image: linear-gradient(to bottom, transparent 1cqmax, tan 2cqmax, tan calc(100% - 2cqmax), transparent calc(100% - 1cqmax));
}
.sr-message-type {
	font-size: clamp(14px, 3cqmax, 28px);
}
.sr-message-controls {
	display: flex;
	justify-content: center;
}

/* Winner/Loser message styles */
.sr-message[data-message="winner"],
.sr-message[data-message="loser"] {
	.sr-message-scroller {
		text-align: center;
		&::before {
			content: "";
			display: block;
			height: 5cqmax;
			background-image: url("../img/cup.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}
}
