/**
 * Styles for milestone markers with their progress bar timers.
 */

.sr-milestone-message {
	display: none;

	.sr-milestone.has-collided & {
		display: block;
	}
}

.sr-milestone-progress {
	opacity: 0;
	.sr-milestone.has-collided & {
		opacity: 1;
	}
}

.sr-milestone-progress-bar {
	opacity: 0;
	clip-path: inset(0 100% 0 0);
	.sr-milestone.has-collided & {
		opacity: 1;
		clip-path: inset(0 0% 0 0);
		transition: clip-path var(--sr-milestone-delay) linear;
	}
}
