/**
 * Styles for the game's progress bar and level indicators.
 */

.sr-progress {
	position: absolute;
	inset: auto 0 0 0;
	display: grid;
	grid-template-columns: repeat(4, auto 1fr) auto;
	gap: 1cqmax;
	align-items: center;
	padding: 0 4cqmax;
	height: 5cqmax;
	background-color: var(--sr-c-black);
	color: var(--sr-c-creme);
	font-size: 3cqmax;
}
.sr-progress-level {
	display: contents;
}
.sr-progress-date {
	.sr-progress-level.has-progress &,
	&.has-progress {
		color: var(--sr-c-yellow);
	}
}
.sr-progress-bar {
	border: 0.1cqmax solid var(--sr-c-creme);
	height: 0.3cqmax;
	background-image: linear-gradient(var(--sr-c-yellow), var(--sr-c-yellow));
	background-repeat: no-repeat;
	background-size: 0% 100%;
	.sr-progress-level.has-progress & {
		background-size: 100% 100%;
	}
}
