/*
 * CSS custom properties.
 *
 * Also set via JS:
 * --sr-difficulty-crash: 1; difficulty crash size factor
 * --sr-hangtime: 300ms; jump duration
 * --sr-h-jump: 10cqw; jump distance up
 */
:root {
	/* character settings */
	--sr-h-hero: 6cqw; /* height of the hero character */

	/* shelves */
	--sr-h-ground: 6cqw;

	/* font */
	--sr-ff: "VT323", monospace;

	/* colors */
	--sr-c-creme: #feecb3;
	--sr-c-yellow: #feb100;
	--sr-c-navy: #202844;
	--sr-c-blue: #123881;
	--sr-c-dark-bue: #0e2d67;
	--sr-c-green: #5bcf68;
	--sr-c-red: #c44116;
	--sr-c-white: #fff;
	--sr-c-black: #181818;
	--sr-c-dark-grey: #505050;
	--sr-c-light-grey: #DBDBDB;
}
