.sr-page--intro {
	color: var(--sr-c-black);
	.sr-page__logo {
		display: block;
		margin: 2.5em auto 1.5em;
	}
	.sr-page__heading {
		margin-bottom: 0;
	}
	.sr-page__controls {
		display: flex;
		justify-content: space-around;
		align-items: center;

		.sr-8bit--toggle {
			width: 6em;
		}
	}
	.sr-page__wilson {
		position: absolute;
		bottom: 1.6em;
		left: 50%;
		transform: translateX(-50%);
	}
}
