.sr-page--score {
	display: flex;
	align-items: center;

	h1 {
		margin-bottom: 0.2em;
	}
}

.sr-score__split {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	text-align: center;
	text-transform: uppercase;
}

.sr-score__column {
	border: 4px solid var(--sr-c-azure);
	padding: 0.5em 1em;
}

h2.sr-score__heading--level {
	margin: 0;
}

.sr-score__number--level {
	color: var(--sr-c-azure);
	font-size: 3.8em;
	border-bottom: 2px solid var(--sr-c-white);
}

h2.sr-score__heading--total {
	margin: 0;
	font-size: 1em;
}

.sr-score__total {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sr-score__number--total {
	color: var(--sr-c-azure);
	font-size: 2em;
}

.sr-score__column--message {
	h2 {
		font-size: 1.2em;
	}
	p {
		color: var(--sr-c-yellow);
	}
}