:root {
	--sr-c-bg-8bit: var(--sr-c-yellow);
	--sr-c-bd-8bit: var(--sr-c-gold);
	--sr-c-fg-8bit: var(--sr-c-black);
}
.sr-8bit {
	display: inline-grid;
}
.sr-8bit__bg {
	grid-area: 1 / 1;
	svg {
		display: block;
		width: 100%;
		height: auto;
	}
}
.sr-8bit__fg {
	grid-area: 1 / 1;
	position: relative;
	display: flex;
	color: var(--sr-c-fg-8bit);
	& > :where(a:only-child, button:only-child) {
		background-color: transparent;
		border: 0;
		padding: 0.5em 1em;
		display: inline-grid;
		place-items: center;
		width: 100%;
		height: 100%;
		font-size: 1em;
		text-align: center;
		color: inherit;
		white-space: pre;
	}
}
.sr-8bit__pill {
	container-type: size;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	will-change: transform; /* needed to fix subpixel rending issues */
	&::before {
		--sr-bd-8bit: 8cqb;
		content: '';
		order: 2;
		flex: 1;
		height: 100%;
		background-color: var(--sr-c-bg-8bit);
		border: 0 solid var(--sr-c-bd-8bit);
		border-width: var(--sr-bd-8bit) 0;
	}
}
.sr-8bit__pill-piece {
	overflow: hidden;
	height: 100%;
	aspect-ratio: 0.5;
	&:first-child {
		order: 1;
	}
	&:last-child {
		order: 3;
	}
	svg {
		height: 100%;
	}
}
.sr-8bit--toggle {
	display: flex;
	flex-direction: column;
	white-space: pre;

	input {
		opacity: 0;
		position: absolute;
	}

	&.sr-8bit {
		position: relative;
	}

	.sr-8bit__fg {
		--sr-c-bg-8bit: red;
		--sr-c-bd-8bit: red;
		--sr-c-fg-8bit: red;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

	}

	.sr-8bit__bg {
		--sr-c-bg-8bit: blue;
		--sr-c-bd-8bit: blue;
		--sr-c-fg-8bit: blue;
		height: 1em;
	}
}