:root {
	--sr-c-bg-8bit: var(--sr-c-yellow);
	--sr-c-bd-8bit: var(--sr-c-gold);
	--sr-c-fg-8bit: var(--sr-c-black);
	--sr-sw-8bit: 4;
	--sr-bd-8bit: 8cqb;
}
.sr-8bit {
	display: inline-grid;
}
.sr-8bit__bg {
	grid-area: 1 / 1;
	svg {
		display: block;
		width: 100%;
		height: auto;
	}
}
.sr-8bit__fg {
	grid-area: 1 / 1;
	position: relative;
	display: flex;
	color: var(--sr-c-fg-8bit);
	& > :where(a:only-child, button:only-child) {
		background-color: transparent;
		border: 0;
		padding: 0.5em 1em;
		display: inline-grid;
		place-items: center;
		width: 100%;
		height: 100%;
		font-size: 1em;
		text-align: center;
		color: var(--sr-c-fg-8bit);
		white-space: pre;
	}
}
.sr-8bit__pill {
	container-type: size;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	will-change: transform; /* needed to fix subpixel rending issues */
	&::before {
		content: '';
		order: 2;
		flex: 1;
		height: 100%;
		background-color: var(--sr-c-bg-8bit);
		border: 0 solid var(--sr-c-bd-8bit);
		border-width: var(--sr-bd-8bit) 0;
	}
}
.sr-8bit__pill-piece {
	overflow: hidden;
	height: 100%;
	aspect-ratio: 0.5;
	&:first-child {
		order: 1;
	}
	&:last-child {
		order: 3;
	}
	svg {
		height: 100%;
	}
}
.sr-8bit--button {
	&:active {
		--sr-c-bg-8bit: var(--sr-c-gold);
		--sr-c-bd-8bit: var(--sr-c-yellow);
		--sr-c-fg-8bit: white;
	}
}
.sr-8bit--toggle {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	white-space: pre;

	input {
		opacity: 0;
		position: absolute;
	}

	.sr-8bit__bg {
		--sr-c-bg-8bit: var(--sr-c-sky);
		--sr-c-bd-8bit: var(--sr-c-black);
		--sr-c-fg-8bit: var(--sr-c-blue);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5em;
		order: 2;

		&::before,
		&::after {
			font-size: 1.5em;
		}
		
		&::before {
			content: "ON";
			color: var(--sr-c-azure);
		}

		&::after {
			content: "OFF";
			color: var(--sr-c-black);
		}

		svg {
			width: 3.5em;
		}
	}

	.sr-8bit__fg {
		pointer-events: none;
		justify-content: center;
		font-size: 1.8em;
		text-transform: uppercase;
	}

	path {
		transition: all 0.3s ease-out;
	}

	/* On state */
	path:first-child {
		--sr-c-bg-8bit: var(--sr-c-azure);
	}

	/* Off state */
	&:has(input:not(:checked)) {
		.sr-8bit__bg {
			&::before {
				color: var(--sr-c-black);
			}
			&::after {
				color: var(--sr-c-azure);
			}
		}
		path:first-child {
			--sr-c-bg-8bit: var(--sr-c-gray);
		}
		path:nth-child(3), path:nth-child(4) {
			transform: translate(70px);
		}
	}

}