.sr-background-radius {
	--sr-bg-rad-size: 2.7cqmax;
	display: inline-flex;
	align-items: center;
	position: relative;
	min-width: var(--sr-bg-rad-size);
	min-height: var(--sr-bg-rad-size);
	button {
		display: block;
		background-color: transparent;
		border: 0;
		text-box: trim-start cap alphabetic;
	}
	svg {
		position: absolute;
		z-index: -1;
	}
}