:where(.sr-background-radius) {
	--c-bg: var(--sr-c-yellow);
	--c-bd: var(--sr-c-gold);
	--c-fg: var(--sr-c-black);
}
.sr-background-radius {
	--sr-bg-rad-size: 3.8cqmax;
	position: relative;
	display: grid;
	place-items: center;
	text-align: center;
	min-width: var(--sr-bg-rad-size);
	min-height: var(--sr-bg-rad-size);
	:where(button) {
		display: block;
		background-color: transparent;
		border: 0;
		padding: 0;
		color: inherit;
	}
	:where(svg) {
		display: block;
	}
}
.sr-background-radius__svg {
	position: absolute;
}
.sr-background-radius__content {
	position: relative;
	display: grid;
	place-items: center;
	text-align: inherit;
	color: var(--c-fg);
	width: 100%;
	height: 100%;
	z-index: 1;
	& > button:only-child {
		display: inherit;
		place-items: inherit;
		text-align: inherit;
	}
}