/**
 * Styles for the stage and board.
 *
 * The stage is the main container for the game, and
 * provides the scaling for everything else. The board
 * contains the SVG game board itself.
 */

.sr-stage,
.sr-typography,
.sr-page-transition,
.sr-page {
	aspect-ratio: 16 / 9;
}

.sr-stage {
	container-type: size;
	overflow: hidden;
	position: relative;
	width: calc(100dvh * (16 / 9));
	max-width: 100%;
	aspect-ratio: 16 / 9;
	margin: 0 auto;
	background-color: var(--sr-c-black);
}

.sr-board {
	position: absolute;
	inset: 0;
	overflow: hidden;
	transition: opacity 0.3s 0.3s;

	svg {
		display: block;
		height: 100%;
		width: auto;
		shape-rendering: optimizeSpeed;
	}

	/* These move via parallax (so smooth out the animation) */
	& > svg {
		will-change: transform;
	}

	&:has(.sr-gameplay.is-loading) {
		opacity: 0;
	}
}

.sr-countdown {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	padding-bottom: 25%;
	z-index: 100;
	font-size: 10em;
	color: var(--sr-c-black);
}
