/**
 * Styles for the playable character(s).
 */

.sr-character {
	/* Allows us to shift the character relative to the crash area. */
	--sr-y-shift: 0.5cqw;
	position: absolute;
	left: 25%;
	bottom: 0;
	will-change: transform;

	&:focus {
		outline: 0;
	}

	&[data-move="none"][data-jump="none"] {
		transition-duration: 0s;
	}

	[data-state] {
		display: none;
	}

	&[data-ani="none"][data-jump="none"] [data-state="move-none"] {
		display: block;
	}

	&[data-ani="sprite"][data-jump="none"] [data-state="ani-sprite"] {
		display: block;
	}

	&[data-jump="up"] [data-state="jump-up"] {
		display: block;
	}

	&[data-jump="down"] [data-state="jump-down"] {
		display: block;
	}

	svg {
		width: auto;
		height: var(--sr-h-character);
		transform: translateY(var(--sr-y-shift));
		[data-move="backward"] & {
			transform: scaleX(-1);
		}
	}
}

.sr-character-message {
	-webkit-text-stroke: 0.1cqmax var(--sr-c-navy);
	position: absolute;
	inset: auto 0 125%;
	display: flex;
	justify-content: center;

	span {
		opacity: 0;
		position: absolute;
		inset: 0;
		line-height: 0;
		font-size: 4cqmax;
		color: var(--sr-c-white);
		&.is-positive {
			color: var(--sr-c-green);
		}
		&.is-negative {
			color: var(--sr-c-red);
		}
	}
}

.sr-character-crash {
	position: absolute;
	z-index: 999;
	inset: 0;
	border-radius: 50%;
	transform: scale(var(--sr-difficulty-crash, 1)) translateY(var(--sr-y-shift));
}
