.sr-debug {
	position: absolute;
	inset: auto auto 0 0;
	z-index: 10;
	padding: 0.1em;
	background-color: rgba(2555, 255, 255, 0.5);
	font-size: 0.8em;
	line-height: 1;
	
	button, select {
		padding: 0.2em;
		font-size: 1em;
		border-radius: 0.2em;
		border: 1px solid black;
		line-height: 1;
		background-color: white;
		text-box: trim-both cap alphabetic;
	}

	select {
		padding: 0;
	}

	span {
		display: flex;
		align-items: center;
		gap: 0.2em;
		outline: 1px solid black;
		outline-offset: -1px;
		border-radius: 0.2em;
		line-height: 1;
	}
}

.sr-debug__menu {
	position: absolute;
	bottom: 100%;
	left: 0;
	margin: 0;
	padding: 0.2em;
	list-style: none;
	background-color: rgba(2555, 255, 255, 0.5);
}