.sr-debug {
	position: absolute;
	inset: auto auto 0 0;
	z-index: 10;
	padding: 0.1em;
	background-color: lime;
	font-size: 0.8em;
	line-height: 1;

	button,
	select {
		cursor: pointer;
		width: 100%;
		padding: 0.2em 0.1em 0;
		background-color: transparent;
		border-radius: 0.2em;
		border: 2px solid currentColor;
		font-size: 1em;
		line-height: 1;
		text-align: left;
		&:hover {
			background-color: greenyellow;
		}
	}

	label {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 0.5em;
		white-space: nowrap;
		border-bottom: 1px dashed currentColor;
	}

	:is([type="text"], [type="number"]) {
		width: 2.5em;
		margin-left: auto;
		background-color: transparent;
		border: 0;
		font-size: inherit;
		text-align: right;
	}

	:is([type="number"]) {
		transform: translateX(0.2em);
	}

	:is([type="checkbox"]) {
		cursor: pointer;
		margin-left: auto;
		width: 1.5em;
		height: 1.5em;
		accent-color: gray;
		accent-color: black;
	}
}

.sr-debug__menu {
	position: absolute;
	bottom: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	padding: 0.2em;
	gap: 0.2em;
	background-color: color-mix(in srgb, lime 80%, transparent);
	border-radius: 0 0.2em 0.2em 0;
	color: black;
}

.sr-debug--outlines ~ .sr-gameplay {
	:where(.is-collided) {
		outline: 1px dashed black;
	}
	:where(.sr-character) {
		outline: 1px dashed lightgray;
	}
	:where(.sr-character-crash) {
		outline: calc(1px / var(--sr-difficulty-crash, 1)) solid yellow;
	}
	:where(.sr-shelves > *) {
		outline: 1px dashed lightgray;
	}
	:where(:is(.sr-obstacles, .sr-milestones) [data-score]) {
		outline: 1px dashed lime;
		&.is-collided {
			outline: 1px dashed teal;
		}
	}
	:is(:is(.sr-obstacles, .sr-milestones) [data-score^="-"]) {
		outline: 1px dashed red;
		&.is-collided {
			outline: 1px dashed maroon;
		}
	}
}
