/**
 * Styles for the username/score submission form.
 */

.sr-form {
	margin: auto;
	padding: 1cqmax;
	max-width: 20cqmax;

	label {
		display: block;
		margin-bottom: 0.8cqmax;
		font-size: 2.5cqmax;
	}

	input {
		width: 100%;
		aspect-ratio: 235 / 84;
		margin-bottom: 1.5cqmax;
		padding: 1cqmax;
		background-image: url('../img/input.svg');
		background-color: transparent;
		border: 0;
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
		font-size: 5cqmax;
		font-family: var(--sr-ff);
		border-radius: 0;
		box-shadow: none;
		text-transform: uppercase;

		&:focus {
			outline: none;
		}
	}

	button {
		width: 100%;
	}
}
