/**
 * Global styles and resets.
 */

@import "../fonts/google-fonts/web/fonts.css";

/*
 * CSS custom properties.
 *
 * Also set via JS:
 * --sr-difficulty-crash: 1; difficulty crash size factor
 * --sr-hangtime: 300ms; jump duration
 * --sr-h-jump: 10cqw; jump distance up
 */
 :root {
	/* character settings */
	--sr-h-hero: 7cqw; /* height of the hero character */

	/* shelves */
	--sr-h-ground: 7cqw;

	/* font */
	--sr-ff: "VT323", monospace;

	/* colors */
	--sr-c-creme: #feecb3;
	--sr-c-yellow: #feb100;
	--sr-c-navy: #202844;
	--sr-c-blue: #123881;
	--sr-c-dark-bue: #0e2d67;
	--sr-c-green: #5bcf68;
	--sr-c-red: #c44116;
	--sr-c-white: #fff;
	--sr-c-black: #414141;
	--sr-c-dark-grey: #505050;
	--sr-c-light-grey: #DBDBDB;
}


/**
 * Styling common to all pages
 */
:where(*, *::before, *::after) {
	box-sizing: border-box;
}

body {
	touch-action: manipulation;
	overflow: clip;
	height: 100%;
	margin: 0;
	background: var(--sr-c-black);
}

:is(h1, h2, h3, h4, h5, h6, strong) {
	font-weight: 400;
}

.sr {
	* {
		font-family: var(--sr-ff);
	}
	a {
		color: inherit;
	}
	a,
	input,
	label,
	button {
		-webkit-tap-highlight-color: transparent;
	}
	p {
		margin-top: 0;
	}
	li:empty,
	li:has(> span:empty:only-child) {
		list-style-type: none;
	}

	@media (max-width: 480px) and (orientation: portrait) {
		&::before {
			content: "Please rotate your\A device for the best experience";
			white-space: pre;
			position: fixed;
			inset: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2cqmax;
			background-color: var(--sr-c-navy);
			color: var(--sr-c-creme);
			font-family: var(--sr-ff);
			font-size: 5cqmax;
			text-align: center;
			z-index: 999;
			writing-mode: vertical-rl;
		}
	}
}
