/**
 * Global styles and resets.
 */

@import "../fonts/google-fonts/web/fonts.css";

/*
 * CSS custom properties.
 */
 :root {
	/* font */
	--sr-ff: "VT323", monospace;

	/* colors */
	--sr-c-creme: #feecb3;
	--sr-c-yellow: #feb100;
	--sr-c-navy: #202844;
	--sr-c-blue: #123881;
	--sr-c-dark-bue: #0e2d67;
	--sr-c-green: #5bcf68;
	--sr-c-red: #c44116;
	--sr-c-white: #fff;
	--sr-c-black: #2e2e2e;
	--sr-c-dark-grey: #505050;
	--sr-c-light-grey: #DBDBDB;
}


/**
 * Styling common to all pages
 */
:where(*, *::before, *::after) {
	box-sizing: border-box;
}

body {
	touch-action: manipulation;
	overflow: clip;
	height: 100%;
	margin: 0;
	background: var(--sr-c-black);
}

.sr {
	/* Orientation warning */
	@media (max-width: 480px) and (orientation: portrait) {
		&::before {
			content: "Please rotate your\A device for the best experience";
			white-space: pre;
			position: fixed;
			inset: 0;
			z-index: 9999;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2cqmax;
			background-color: var(--sr-c-navy);
			color: var(--sr-c-creme);
			font-family: var(--sr-ff);
			font-size: 5vmax;
			text-align: center;
			z-index: 999;
			writing-mode: vertical-rl;
		}
	}
}

.sr-typography {
	/* Base font sizes off of .sr-stage's width or height (allows simple usage of em units within) */
	font-size: 2cqmax;
	color: var(--sr-c-white);
	
	* {
		font-family: var(--sr-ff);
	}

	:is(h1, h2, h3, h4, h5, h6, strong) {
		font-weight: 400;
	}

	p {
		margin-top: 0;
	}

	a {
		color: inherit;
	}

	a,
	input,
	label,
	button {
		-webkit-tap-highlight-color: transparent;
	}

}

/**
 * Animations
 */
@keyframes pulse-opacity {
	0%,
	100% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.1;
	}
}
