/**
 * Global styles and resets.
 */

@import "../fonts/google-fonts/web/fonts.css";

/*
 * CSS custom properties.
 */
 :root {
	/* font */
	--sr-ff: "VT323", monospace;

	/* colors */
	--sr-c-white: #fff;
	--sr-c-black: #000;
	--sr-c-navy: #001D37;
	--sr-c-blue: #024B8D;
	--sr-c-azure: #08C9FF;
	--sr-c-sky: #A4EBFF;
	--sr-c-green: #34BE8C;
	--sr-c-red: #FF5C55;
	--sr-c-gold: #BA8D00;
	--sr-c-yellow: #FEC900;
}

/**
 * Styling common to all pages
 */
 html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	touch-action: manipulation;
	overflow: clip;
	display: grid;
	place-items: center;
	margin: 0;
	background: var(--sr-c-black);
	& > * {
		width: 100%;
		min-width: 0;
	}
}

.sr {
	/* Orientation warning */
	@media (max-width: 480px) and (orientation: portrait) {
		&::before {
			content: "Please rotate your\A device for the best experience";
			white-space: pre;
			position: fixed;
			inset: 0;
			z-index: 9999;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2cqmax;
			background-color: var(--sr-c-navy);
			color: var(--sr-c-creme);
			font-family: var(--sr-ff);
			font-size: 5vmax;
			text-align: center;
			z-index: 999;
			writing-mode: vertical-rl;
		}
	}
}

.sr-typography {
	/* Establish base width for running calculations */
	--sr-w: 1440;
	/* Base font sizes off of .sr-stage's width or height (allows simple usage of em units within) */
	font-size: 2cqmax;
	color: var(--sr-c-white);
	line-height: 1;
	
	* {
		font-family: var(--sr-ff);
	}

	:where(h1, h2, h3, h4, h5, h6, strong) {
		font-weight: 400;
	}

	:where(h1, h2, h3, h4, h5, h6, p:has(> strong:only-child)) {
		margin-bottom: 0.5em;
	}

	:where(h1, h2, h3, h4, h5, h6):not(:first-child),
	p:not(:first-child):has(> strong:only-child) {
		margin-top: 1em;
	}

	p {
		margin-top: 0;
		margin-bottom: 0.6em;
	}

	a {
		color: inherit;
	}

	a,
	input,
	label,
	button {
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
		&:focus {
			outline: 0;
		}
	}

	li:not(:last-child) {
		margin-bottom: 0.2em;
	}

}

/**
 * Animations
 */
@keyframes pulse-opacity {
	0%,
	100% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.1;
	}
}
