/**
 * Styles for various game interface elements.
 */

.sr-controls {
	position: absolute;
	top: 1cqmax;
	left: 1cqmax;
	display: flex;
	gap: 1cqmax;
}
.sr-score-container {
	position: absolute;
	top: 1cqmax;
	right: 1cqmax;
	display: flex;
	align-items: center;
	gap: 1cqmax;
	padding-left: 1cqmax;
	background-color: var(--sr-c-yellow);
	border: 0.3cqmax solid var(--sr-c-yellow);
	font-size: 3cqmax;
}
.sr-score {
	min-width: 8.5cqmax; /* allows for up to 99,999 in scoring */
	padding: 0 0.5cqmax 0.2cqmax;
	background-color: var(--sr-c-navy);
	font-size: 3cqmax;
	text-align: right;
	color: var(--sr-c-creme);
}
.sr-countdown {
	pointer-events: none;
	position: absolute;
	inset: 0 0 auto 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5cqmax;

	span {
		-webkit-text-stroke: 0.33cqmax var(--sr-c-navy);
		font-size: 15cqmax;
		color: var(--sr-c-yellow);
		opacity: 0;
		animation: count-in 0.6s cubic-bezier(0, 0.19, 0, 0.89) forwards;
	}
}

.sr-v {
	pointer-events: none;
	position: absolute;
	z-index: 999;
	right: 0.2cqmax;
	bottom: 0;
	color: var(--sr-c-white);
	font-size: 1cqmax;
	opacity: 0.15;
}

@keyframes count-in {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
