.sr-interface {
	position: absolute;
	inset: 0 0 auto 0;
	z-index: 10;
	padding: 10px;
	background-color: rgba(2555, 255, 255, 0.5);
	float: left;
	line-height: 0;
}
.sr-version {
	position: absolute;
	z-index: 10;
	inset: auto 0 0 auto;
	opacity: 0.33;
	color: var(--sr-c-white);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
	font-size: 0.7em;
}