.sr-interface-header {
	--sr-h-interface: 4cqmax;
	--sr-c-bg-8bit: color-mix(in srgb, var(--sr-c-navy) 80%, transparent);
	--sr-c-bd-8bit: var(--sr-c-sky);
	--sr-c-fg-8bit: var(--sr-c-white);
	/* pointer-events: none; */
	position: absolute;
	inset: 0 0 auto 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	gap: 0.4em;
	padding: 1em;
	button {
		pointer-events: auto;
	}
}
.sr-interface-header__circle {
	height: var(--sr-h-interface);
	width: var(--sr-h-interface);
	&:hover {
		--sr-c-fg-8bit: var(--sr-c-sky);
	}
}
svg.sr-interface-header__icon {
	display: block;
	width: 40%;
	margin: auto;
}
.sr-interface-header__battery {
	position: absolute;
	left: 50%;
	height: var(--sr-h-interface);
	transform: translateX(-50%);
}
.sr-interface-header__battery-bars {
	display: flex;
	align-items: stretch;
}
.sr-interface-header__score {
	height: var(--sr-h-interface);
	min-width: 2em;
	margin-left: auto;
	.sr-8bit__fg {
		min-width: 4em;
		padding-inline: 0.5em;
	}
}
.sr-interface-footer {
	position: absolute;
	inset: auto 0 0 0;
	z-index: 10;
	display: flex;
}
.sr-interface-progress {
	appearance: none;
	height: 1cqmax;
	width: 100%;
	max-width: 88%;
	margin: 0 auto 0.6em;
	border-radius: 1em;
	padding: 0.15em;
	border: none;
	background-color: var(--sr-c-navy);
	outline: 0.05em solid var(--sr-c-sky);
	/* Chrome/Safari */
	&::-webkit-progress-bar {
		background-color: var(--sr-c-navy);
		border-radius: 1em;
	}
	&::-webkit-progress-value {
		background-color: var(--sr-c-sky);
		border-radius: 1em;
	}	
	/* Firefox */
	&::-moz-progress-bar {
		background-color: var(--sr-c-sky);
		border-radius: 1em;
	}
}
.sr-version {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 0.7em;
	color: var(--sr-c-white);
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
