.sr-message {
	:is(h1, h2, h3, h4, h5, h6, p:has(> strong:only-child)) {
		margin-bottom: 0.1em;
		color: var(--sr-c-azure);
	}
	p, li {
		font-size: 1.4em;
	}

	ul {
		margin: 0.5em;
	}
	
	/* Prevent list bullets from appearing during animations */
	li {
		transition: opacity 0.001s ease-out;

		&:has([style*="opacity: 0"]):not(:has([style*="opacity: 1"])) {
			opacity: 0;
		}
	}
}