
.sr-milestone-message {
	&:not(.is-visible) {
		visibility: hidden;
	}
}
.sr-milestone-progress {
	.sr-milestone-message:not(.is-visible) & {
		visibility: hidden;
	}
}
.sr-milestone-progress-bar {
	clip-path: inset(0 0 0 0);
	transition: clip-path var(--sr-milestone-delay) linear;
	.sr-milestone-message:not(.is-visible) & {
		clip-path: inset(0 100% 0 0);
	}
}
