.sr-page {
	background-image: var(--sr-bg-image, none);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sr-page--full-width {
	.sr-page__inner {
		max-width: none;
	}
}
.sr-page__inner {
	overflow-y: auto;
	width: 100%;
	max-width: 33.3333333em;
	max-height: 100cqh;
	margin-inline: auto;
}
