/**
 * Parallax layers
 */
.sr-parallax-container {
	position: absolute;
	inset: 0;
	z-index: 1; /* Position between the board and other elements */
	pointer-events: none; /* Allow clicks to pass through to elements below */
}

.sr-parallax-layer {
	position: absolute;
	inset: 0;
	will-change: transform; /* Optimize for animation performance */
}
