/**
 * Styles for the character selection screen.
 */

.sr-roster {
	position: relative;
	z-index: 10;
	width: 100%;
	padding-block: 3cqmax 10cqmax;

	h2 {
		width: 100%;
		text-align: center;
		margin-block: 0 1cqmax;
		font-size: 4cqmax;
		text-transform: uppercase;
	}
}

.sr-roster-grid {
	display: flex;
	gap: 1cqmax 2cqmax;
	width: 100%;
}

.sr-roster-character {
	cursor: pointer;
	position: relative;
	background-color: transparent;
	border: 3px solid var(--sr-c-white);
	background-color: color-mix(in srgb, transparent, var(--sr-c-white) 10%);
	color: var(--sr-c-white);
	flex: 1;
	aspect-ratio: 1.5;

	&.is-active {
		background-color: var(--sr-c-yellow);

		.sr-roster-name {
			color: var(--sr-c-yellow);
		}
	}

	* {
		pointer-events: none;
	}

	[data-state]:not([data-state="roster"]) {
		opacity: 0;
	}

	svg {
		width: auto;
		height: calc(var(--sr-h-hero) * 2);
	}
}

.sr-roster-name {
	position: absolute;
	inset: 110% 0 auto 0;
	text-align: center;
	font-size: 3.8cqmax;
	text-transform: uppercase;
	text-align: center;
}
