/**
 * Styles for the WordPress shortcode.
 */
body.sr-lightbox-open {
	overflow: hidden !important; /* prevent scroll */
}

/* NOTE: we use an ID to increase specificity such that it should override most theme styling */
#shelf-runner {

	&.sr-portal {
		overflow: hidden;
		position: relative;
		width: 100%;
		max-width: none;
		aspect-ratio: 16 / 9;
		max-height: 200px;
		background-color: #000;
	
		&:has(.sr-portal-button button:hover, .sr-portal-button button:focus) {
			&::before {
				opacity: 0.32;
			}
			.sr-portal-button {
				transform: scale(1.025);
			}
				
		}
	
		&.is-active {
			max-height: 3000px;
			transition: max-height 2s ease-out;
			&::before,
			.sr-portal-overlay {
				display: none;
			}
		}
	
		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			height: 200px;
			width: calc(1800px * 4);
			background-image: url("../img/shortcode-bg.svg");
			background-size: 33.3333% 100%;
			background-position: left center;
			opacity: 0.2;
			transition: opacity 0.3s;
			will-change: transform;
			animation: sr-marquee 180s linear infinite;
	
			@media (prefers-reduced-motion: reduce) {
				animation: none;
			}
		}
	}

	iframe {
		display: block;
		aspect-ratio: 16 / 9;
		width: 100%;
		border: 0;
	}

	.sr-portal-overlay {
		cursor: pointer;
		position: absolute;
		inset: 0;
		z-index: 1;
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 15px;
		padding: 15px;
		flex-wrap: wrap;
	}

	.sr-portal-label {
		aspect-ratio: 567 / 53;
		width: 567px;
		max-width: 100%;
		color: transparent;
		font-size: 10px;
		background-image: url("../img/shortcode-logo.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left bottom;
	}
	
	.sr-portal-button {
		cursor: pointer;
		background-color: transparent;
		border: 0;
		width: 300px;
		height: 87px;
		max-width: 100%;
		background-image: url("../img/shortcode-button.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left top;
		transition: transform 0.3s;

		/* The button is likely styled: try to override anything unhelpful */
		button {
			display: block !important;
			position: absolute !important;
			inset: -50vw !important;
			z-index: 1 !important;
			opacity: 0 !important;
		}
	}
	
	.sr-portal-lightbox {
		flex-direction: column !important;
		min-width: 100vw !important;
		min-height: 100vh !important;
		max-width: 100vw !important;
		max-height: 100vh !important;
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
		background-color: black !important;
	
		&::backdrop {
			background-color: black;
		}
	
		iframe {
			flex: 1 !important;
			width: calc(100dvh * (16 / 9)) !important;
			max-width: 100% !important;
			aspect-ratio: 16 / 9 !important;
			margin: 0 auto !important;
			border: 0;
			background-color: black;
			opacity: 0;
			transition: opacity 0.6s ease 0.1s;
	
			&.is-loaded {
				opacity: 1;
			}
		}
	
		&[open] {
			display: flex !important;
		}
	}
	
	.sr-portal-lightbox-close {
		width: 100%;
		padding: 5px;
		background-color: black;
	}
	
	:where(.sr-portal-lightbox-close button) {
		background: white;
		color: black;
	}
}

@keyframes sr-marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-33.3333%);
	}
}